* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

* + * {
  margin-top: 0.5em;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #2d2d2d;
  background: #f6f6f6;
}

h1 {
  margin-top: 0;
  font-weight: 500;
}

p {
  margin-top: 0;
  line-height: 1.5;
}

.button {
  margin-left: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  background: #ff222f;
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 700px) {
  .signUp,
  .success,
  .button,
  h1,
  p {
    width: 50%;
    font-size: 0.5em;
  }
}
